<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Credits Background Music</key>
	<string>background</string>
	<key>When tapping to add an actor</key>
	<string>silence</string>
	<key>When cancel button is clicked in actor search</key>
	<string>silence</string>
	<key>When actor is added and bounce occurs</key>
	<string>silence</string>
	<key>When swipe transition to movies screen begins</key>
	<string>silence</string>
	<key>During transition to movies screen</key>
	<string>silence</string>
	<key>When swipe transition to delete actor begins</key>
	<string>silence</string>
	<key>During deletion of actor</key>
	<string>silence</string>
	<key>When a movie is selected</key>
	<string>silence</string>
	<key>When leaving IMDb website view</key>
	<string>silence</string>
	<key>When pressing the back button to go back from the movies to the actors screen</key>
	<string>silence</string>
</dict>
</plist>
